* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
  outline: none;
  transition: 0.5s;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 5px;
}

/* Handle on hover */

.header {
  /* background-image: linear-gradient(to right,#0a0a0a, hsl(37, 98%, 53%)); */
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid gray;
  position: fixed;
  z-index: 222;
  box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
  /* background-color: black; */
}
body {
  /* background-image: linear-gradient(to right,#2bff00, #00a6ff); */
  background-color: rgb(255, 254, 251);
  width: 100%;
  height: 100%;
}
.sign_up {
  color: rgb(255, 123, 0);
  border: 0px;
  font-size: 20px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
}
.login {
  color: rgb(0, 0, 0);
  border: 0px;
  font-size: 20px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.headert-create{
    position: relative;
    top: 5px;
    float: right;
    margin-right: 10px;
}
.login:hover {
  background-color: rgb(155, 155, 155);
  color: white;
}

.sign_up:hover {
  background-color: rgb(255, 123, 0);
  color: white;
}

.body {
  top: 0%;
  position: relative;
  padding-left: 8%;
}
.profile {
  color: gray;
  border: 0px;
  font-size: 20px;
  background-color: white;
  border-bottom: 2px solid #1b1b1b;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
  margin-top: 10px;
  height: 50px;
}
.profile:hover {
  background-color: gray;
  color: white;
}
.so {
  height: 0px;
}

.div1 {
  background-color: gray;
  height: 200px;
}
.div2 {
  height: 200px;
}
.image {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: relative;
  bottom: 300px;
  left: 100px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 2px rgb(0, 0, 0);
}
.edit {
  cursor: pointer;

  background-color: rgb(252, 252, 252);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: relative;
  bottom: 430px;
  float: right;
  margin-right: 40px;
  box-shadow: 2px 2px 5px 2px rgb(0, 0, 0);
}
.edit:hover {
  background-color: #1b1b1b;
}
.edit-icon {
  width: 35px;
  height: 35px;
  position: relative;
  top: 7px;
  left: 7px;
}
.image-profile {
  width: 200px;
}
.name {
  position: relative;
  top: 100px;
  left: 350px;
  font-size: 50px;
  color: rgb(255, 147, 6);
  width: 50%;
}

.data {
  position: relative;
  bottom: 250px;
  width: 500px;
  height: 0px;
  left: 100px;
}

input {
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  margin-top: 20px;
}
label {
  font-size: 20px;
  margin-left: 20px;
}
.buttons {
  position: relative;
  padding: 30px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  display: none;

}
.save {
  background-color: gray;
  color: white;
  font-size: 25px;
  border: 0px;
  cursor: pointer;
  width: 125px;
  height: 125px;
  border-radius: 100%;

}
.close {
  margin-left: 100px;
  background-color: #332b2b;
  font-size: 25px;
  color: white;
  border: 0px;
  margin-top: 10px;
  cursor: pointer;
  width: 125px;
  height: 125px;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  .left {
    top: 20px;
  }

  .div1 {
    width: 100%;
  }
  .login{
    font-size: 15px;
}
.sign_up{
    font-size: 15px;
}
.profile {
    font-size: 20px;
  }
  .name {
    position: relative;
    font-size: 20px;
    left: 100px;
    left: 100px;
    top: 320px;
    width: 360px;
  }
  .image {
    width: 150px;
    height: 150px;
    left: 20px;
    bottom: 270px;
  }
  .image-profile {
    width: 150px;
  }
  .edit {
    width: 40px;
    height: 40px;
    bottom: 370px;
    overflow: hidden;
  }
  .edit-icon {
    width: 30px;
    height: 30px;
  }
  .data {
    width: 100%;
    font-size: 20px;
    left: 0px;
    background-color: tan;

  }
  input {
    font-size: 15px;
   
  }
  label {
    font-size: 15px;
  }
  .save {
    background-color: #62b465;
    color: white;
    font-size: 15px;
    border: 0px;
  }
  .close {
    background-color: #ff0505;
    font-size: 15px;
    color: white;
    border: 0px;
  }
  .buttons{
    width: 100%;
    display: none;
 

  }
}

.menu {
  float: left;
}
.menu-item {
  background-color: rgba(0, 0, 0, 0.445);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 333;
  display: none;
}
.menu-items {
  position: absolute;
  background-color: rgb(250, 250, 250);
  width: 200px;
  height: 100%;
  border: 2px solid #1b1b1b;
}
.left {
  position: relative;
  left: 160px;
  top: 200px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(61, 56, 51);
}
#left:target {
  display: none;

  animation-name: hide;
  animation-duration: 1s;
}
#show:target {
  display: block;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}
@keyframes hide {
  from {
    top: 0px;
  }
  to {
    top: -100px;
  }
}
.change{
  border-radius: 20px;
    background-color: #1b1b1b;
    color: white;
    border: 0px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
a:link{
  color: transparent;
}