*{
    transition: 0.5s;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(201, 196, 192);
}
.content{
    margin-top: 100px;
    width: 35%;
    height:550px;
    text-align: center;
}

.title{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.Old,.New,.Conferm{
    background: transparent;
transition: 1s;
width: 100%;
height: 40px;
font-size: 20px;
float: left;
border: 1px;
border-bottom: 2px solid #8b8785;
margin-top: 25px;
overflow: hidden;
outline: none;
}
@media screen and (max-width:600px){
  
        .content{
            margin-top: 50px;
            width: 90%;
            height:550px;
            text-align: center;
        }
   
}
::placeholder{
    color: rgba(71, 68, 67, 0.7);
}
.sign{
    cursor: pointer;
  float: left;
    background-color: rgb(22, 16, 12);
    border: 0px;
    width: 30%;
    height: 40px;
    font-size: 20px;
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    outline: none;
    transition: 1s;
}
.log{
    cursor: pointer;
    float: right;
    background-color: rgb(27, 20, 16);
    border: 0px;
    width: 30%;
    height: 40px;
    font-size: 20px;
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    outline: none;
    transition: 1s;
}


input:focus{
    border-bottom: 3px solid rgb(114, 113, 113);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(104, 102, 101);
    transition: 0.5;
}
input:focus::placeholder{
    font-size: 25px;
    transition: 0.5s;
}
.ConfermP,.NewP,.OldP{
    color: red;
    height: 20px;
    font-size: 20px;
}